@charset "UTF-8";
/* LESS MIXINS ==========================================

Examples:
```````````````````````````````````````````
.gradient(#F5F5F5, #EEE, #FFF); 			
.bw-gradient(#EEE, 230, 255); 				
.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5); 	
.drop-shadow(0, 1px, 2px, 0.2); 			
.rounded(5px); 								
.border-radius(5px, 0, 0, 5px); 			
.opacity(0.8); 								
.transition-duration(0.2s); 				
.rotation(15deg); 							
.scale(2); 									
.transition(2s, ease-out); 					
.inner-shadow(0, 1px, 2px, 0.4); 			
.box-shadow(0 1px 2px #999); 				
.columns(50px, 0, 50px, #EEE, solid, 1px); 	
.translate(10px, 20px); 					
.box-sizing(content-box);
.background-size(cover) 					
.user-select(none); 	
.animation-delay(2s)

*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@import "fonts.css";
.container {
  max-width: 970px !important;
}
body {
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  font-size: 16px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: white;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: 'Coda', helvetica, arial, sans-serif;
  color: #FFD081;
  margin: 0;
}
h1 {
  font-size: 57px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
}
.eyebrow {
  font-size: 18px;
  margin-bottom: 5px;
}
.text-correct {
  color: green;
}
.text-incorrect {
  color: red;
}
.graytitlebox {
  background-color: #1C1C1C;
}
.graysemibox {
  background-color: rgba(39, 39, 39, 0.9);
}
.btn {
  font-size: 18px;
  padding: 12px 20px;
}
@media screen and (max-width: 767px) {
  .btn {
    padding: 10px 16px;
  }
}
.btn-primary {
  background: none;
  border: 1px solid #FFD081;
  border-radius: 3px;
  color: #FFD081;
}
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background: rgba(255, 208, 129, 0.1);
  border-color: #FFD081;
}
.btn-secondary {
  background: none;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  -webkit-transition: 0.3s ease-out background-color;
  transition: 0.3s ease-out background-color;
}
.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus {
  background: rgba(255, 255, 255, 0.1);
  border-color: #fff;
  color: white;
}
.scrolled .nav select,
.scrolled .nav .btn-secondary,
.scrolled .nav label {
  background-color: rgba(0, 0, 0, 0.3);
}
.box {
  margin-top: 150px;
}
@media screen and (max-width: 767px) {
  .box {
    margin-top: 100px;
  }
  .box.intro {
    margin-top: 30px;
  }
}
.box .box-title {
  background-color: #1C1C1C;
}
.box .box-title .question-text {
  -webkit-transition: 0.3s ease-out opacity;
  transition: 0.3s ease-out opacity;
}
.box .box-content {
  background-color: rgba(39, 39, 39, 0.9);
}
.intro .intro-box .box-title {
  padding: 20px 40px;
}
.intro .intro-box .box-content {
  padding: 30px 100px;
}
@media screen and (max-width: 767px) {
  .intro .intro-box .box-content {
    padding: 30px;
  }
}
.intro .intro-box .box-content a {
  margin-bottom: 10px;
}
.version {
  position: absolute;
  bottom: -20px;
  left: 50%;
  font-size: 10px;
  opacity: .4;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.nav {
  position: fixed;
  height: 133px;
  padding-top: 20px;
  background-image: -webkit-linear-gradient(top, #A1AAB1 0%, rgba(161, 170, 177, 0) 100%);
  background-image: linear-gradient(-180deg, #A1AAB1 0%, rgba(161, 170, 177, 0) 100%);
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.nav .progress-area {
  font-size: 50px;
  font-family: 'Coda', arial;
  line-height: 44px;
}
.nav .progress-area .progress-of {
  font-size: 40px;
  opacity: .6;
  margin: 0 7px;
}
@media (max-width: 767px) {
  .nav .progress-area {
    font-size: 40px;
  }
  .nav .progress-area .progress-of {
    font-size: 30px;
  }
}
.nav .progress-area .progress-dots {
  line-height: 0px;
}
.nav .progress-area .progress-dots span {
  border: 1px solid #FFF;
  background: none;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}
@media screen and (max-width: 767px) {
  .nav .progress-area .progress-dots span {
    width: 8px;
    height: 8px;
  }
}
.nav .progress-area .progress-dots span.active {
  background: rgba(255, 255, 255, 0.8);
}
.nav .score .score-current,
.nav .score .score-new {
  color: white;
}
.nav .score .score-new {
  opacity: .6;
  display: none;
}
.question .question-box .box-title {
  padding: 20px 40px;
  height: 104px;
}
@media screen and (max-width: 767px) {
  .question .question-box .box-title {
    height: auto;
  }
}
.question .question-box .box-content {
  background: none;
  padding: 20px 0 30px 0px;
  height: 264px;
}
.question .question-box .box-content a {
  margin-bottom: 10px;
}
.question .question-box .box-content .options {
  text-align: left;
}
.question .question-box .box-content .options a {
  display: inline-block;
  width: 179px;
  height: 179px;
  position: relative;
  text-align: center;
  margin-right: 20px;
  background: rgba(39, 39, 39, 0.94);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.5);
}
.question .question-box .box-content .options a:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .question .question-box .box-content .options a {
    width: 47%;
    margin-right: 6%;
  }
  .question .question-box .box-content .options a:nth-child(2n) {
    margin-right: 0;
  }
}
.question .question-box .box-content .options img {
  max-height: 110px;
  max-width: 110px;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -7px;
  left: 50%;
}
#dial {
  display: none;
}
canvas {
  display: inline-block !important;
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #1C1C1C;
  padding: 3px;
  border-radius: 50%;
}
.modal-backdrop {
  background: rgba(28, 28, 28, 0.96);
}
.modal-backdrop.in {
  opacity: 1;
}
#response .modal-dialog,
#complete .modal-dialog {
  margin-top: 100px;
}
#response .modal-dialog .modal-content,
#complete .modal-dialog .modal-content {
  background-color: transparent;
  box-shadow: none;
  border: 0;
}
#response .modal-dialog .modal-content .modal-header,
#complete .modal-dialog .modal-content .modal-header,
#response .modal-dialog .modal-content .modal-footer,
#complete .modal-dialog .modal-content .modal-footer {
  border: 0;
}
#response .modal-dialog .modal-content .modal-header .eyebrow,
#complete .modal-dialog .modal-content .modal-header .eyebrow {
  font-size: 22px;
}
#response .modal-dialog .modal-content .modal-header .underbrow,
#complete .modal-dialog .modal-content .modal-header .underbrow {
  font-size: 22px;
}
#response .modal-dialog .modal-content .modal-header h3,
#complete .modal-dialog .modal-content .modal-header h3 {
  font-size: 42px;
}
#response .modal-dialog .modal-content .modal-header h2,
#complete .modal-dialog .modal-content .modal-header h2 {
  margin-bottom: 20px;
}
#response .modal-dialog .modal-content .modal-header h1,
#complete .modal-dialog .modal-content .modal-header h1 {
  line-height: 1;
}
@media screen and (max-width: 767px) {
  #response .modal-dialog .modal-content .modal-header h3,
  #complete .modal-dialog .modal-content .modal-header h3 {
    font-size: 28px;
  }
}
#response .modal-dialog .modal-content .modal-body,
#complete .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#response .modal-dialog .modal-content .modal-footer,
#complete .modal-dialog .modal-content .modal-footer {
  text-align: center;
  padding: 0;
}
.response-images div,
.reference-detail-images div {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.response-images div .insignia-tag,
.reference-detail-images div .insignia-tag {
  padding: 8px;
  border-radius: 4px;
  background-color: #484848;
  color: #000;
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
}
.response-images div img,
.reference-detail-images div img {
  max-width: 170px;
  max-height: 170px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .response-images div img,
  .reference-detail-images div img {
    max-width: 140px;
    max-height: 140px;
  }
}
.settings .btn-difficulty {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 28px;
}
.settings .btn-difficulty span.btn-sub {
  font-size: 14px;
  color: #FFF;
  display: block;
}
.settings .btn-difficulty .btn-sub-enabled {
  display: block !important;
}
.settings .btn-difficulty .btn-sub-disabled {
  display: none !important;
}
.settings .btn-difficulty.setDifficulty {
  color: white;
  border-color: white;
}
.settings .btn-difficulty.disabledDifficulty {
  opacity: .3;
}
.settings .btn-difficulty.disabledDifficulty:active,
.settings .btn-difficulty.disabledDifficulty:focus {
  border-color: #FFD081;
  background: none;
  color: #FFD081;
}
.settings .btn-difficulty.disabledDifficulty .btn-sub-enabled {
  display: none !important;
}
.settings .btn-difficulty.disabledDifficulty .btn-sub-disabled {
  display: block !important;
}
.scoreboard .scoreboard-box,
.settings .scoreboard-box,
.scoreboard .settings-box,
.settings .settings-box {
  margin-top: 0px;
}
.scoreboard .scoreboard-box .box-title,
.settings .scoreboard-box .box-title,
.scoreboard .settings-box .box-title,
.settings .settings-box .box-title {
  padding: 20px 40px;
}
.scoreboard .scoreboard-box .box-content,
.settings .scoreboard-box .box-content,
.scoreboard .settings-box .box-content,
.settings .settings-box .box-content {
  padding: 30px 40px;
  min-height: 264px;
}
@media screen and (max-width: 767px) {
  .scoreboard .scoreboard-box .box-content .scoreboard-right,
  .settings .scoreboard-box .box-content .scoreboard-right,
  .scoreboard .settings-box .box-content .scoreboard-right,
  .settings .settings-box .box-content .scoreboard-right {
    padding-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .scoreboard .scoreboard-box .box-content,
  .settings .scoreboard-box .box-content,
  .scoreboard .settings-box .box-content,
  .settings .settings-box .box-content {
    padding: 30px 15px;
  }
}
.scoreboard .scoreboard-box .box-content h1,
.settings .scoreboard-box .box-content h1,
.scoreboard .settings-box .box-content h1,
.settings .settings-box .box-content h1 {
  font-size: 88px;
}
.scoreboard .scoreboard-box .box-content h3,
.settings .scoreboard-box .box-content h3,
.scoreboard .settings-box .box-content h3,
.settings .settings-box .box-content h3 {
  margin-bottom: 10px;
}
.scoreboard .scoreboard-box .box-content span,
.settings .scoreboard-box .box-content span,
.scoreboard .settings-box .box-content span,
.settings .settings-box .box-content span {
  display: block;
}
.scoreboard .scoreboard-box .box-content table,
.settings .scoreboard-box .box-content table,
.scoreboard .settings-box .box-content table,
.settings .settings-box .box-content table {
  width: 100%;
}
.scoreboard .scoreboard-box .box-content table tr,
.settings .scoreboard-box .box-content table tr,
.scoreboard .settings-box .box-content table tr,
.settings .settings-box .box-content table tr {
  height: 30px;
  border-bottom: 2px solid #272727;
}
.scoreboard .scoreboard-box .box-content table tr:last-child,
.settings .scoreboard-box .box-content table tr:last-child,
.scoreboard .settings-box .box-content table tr:last-child,
.settings .settings-box .box-content table tr:last-child {
  border: 0;
}
.scoreboard .scoreboard-box .box-content table th,
.settings .scoreboard-box .box-content table th,
.scoreboard .settings-box .box-content table th,
.settings .settings-box .box-content table th,
.scoreboard .scoreboard-box .box-content table td,
.settings .scoreboard-box .box-content table td,
.scoreboard .settings-box .box-content table td,
.settings .settings-box .box-content table td {
  padding: 8px;
  font-size: 18px;
}
.scoreboard .scoreboard-box .box-content table th,
.settings .scoreboard-box .box-content table th,
.scoreboard .settings-box .box-content table th,
.settings .settings-box .box-content table th {
  background-color: #FFD081;
  text-align: center;
  color: black;
  width: 30px;
}
.scoreboard .scoreboard-box .box-content table td,
.settings .scoreboard-box .box-content table td,
.scoreboard .settings-box .box-content table td,
.settings .settings-box .box-content table td {
  background-color: rgba(255, 208, 129, 0.2);
  color: #FFD081;
  padding-left: 10px;
}
.reference {
  -webkit-transition: .3s all;
  transition: .3s all;
}
@media screen and (max-width: 767px) {
  .reference.filtering {
    margin-top: 230px;
  }
}
.reference .reference-field {
  padding: 20px;
  margin-top: 80px;
  box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .reference .reference-field {
    padding: 0;
  }
}
.reference .reference-field .reference-rank,
.reference .reference-field .grid-sizer,
.reference .reference-field .reference-rating {
  width: 218px;
  height: 200px;
  position: relative;
  float: left;
  text-align: center;
  margin: 14px;
  background: rgba(39, 39, 39, 0.94);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 767px) {
  .reference .reference-field .reference-rank,
  .reference .reference-field .grid-sizer,
  .reference .reference-field .reference-rating {
    width: 46%;
    height: 170px;
    margin: 2%;
  }
}
.reference .reference-field .reference-rank .reference-rank-meta,
.reference .reference-field .grid-sizer .reference-rank-meta,
.reference .reference-field .reference-rating .reference-rank-meta {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}
.reference .reference-field .reference-rank .reference-rank-meta.reference-rank-meta-branch,
.reference .reference-field .grid-sizer .reference-rank-meta.reference-rank-meta-branch,
.reference .reference-field .reference-rating .reference-rank-meta.reference-rank-meta-branch {
  left: 10px;
  top: 10px;
  padding: 3px 6px;
  border-radius: 3px;
  opacity: 1;
}
.reference .reference-field .reference-rank .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Navy"],
.reference .reference-field .grid-sizer .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Navy"],
.reference .reference-field .reference-rating .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Navy"] {
  background-color: #004070;
}
.reference .reference-field .reference-rank .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Marines"],
.reference .reference-field .grid-sizer .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Marines"],
.reference .reference-field .reference-rating .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Marines"] {
  background-color: #BF2F38;
}
.reference .reference-field .reference-rank .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Air Force"],
.reference .reference-field .grid-sizer .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Air Force"],
.reference .reference-field .reference-rating .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Air Force"] {
  background-color: #272A74;
}
.reference .reference-field .reference-rank .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Army"],
.reference .reference-field .grid-sizer .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Army"],
.reference .reference-field .reference-rating .reference-rank-meta.reference-rank-meta-branch[data-branch-label="Army"] {
  background-color: #304D39;
}
.reference .reference-field .reference-rank .reference-rank-meta.reference-rank-meta-type,
.reference .reference-field .grid-sizer .reference-rank-meta.reference-rank-meta-type,
.reference .reference-field .reference-rating .reference-rank-meta.reference-rank-meta-type {
  right: 10px;
  top: 10px;
  text-align: right;
}
.reference .reference-field .reference-rank .reference-rank-meta.reference-rank-meta-type .reference-rank-meta-grade,
.reference .reference-field .grid-sizer .reference-rank-meta.reference-rank-meta-type .reference-rank-meta-grade,
.reference .reference-field .reference-rating .reference-rank-meta.reference-rank-meta-type .reference-rank-meta-grade {
  opacity: .6;
}
.reference .reference-field .reference-rank img,
.reference .reference-field .grid-sizer img,
.reference .reference-field .reference-rating img {
  max-height: 110px;
  max-width: 110px;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -7px;
  left: 50%;
}
@media screen and (max-width: 767px) {
  .reference .reference-field .reference-rank img,
  .reference .reference-field .grid-sizer img,
  .reference .reference-field .reference-rating img {
    max-width: 90px;
    max-height: 90px;
  }
}
.reference .reference-field .reference-rank.reference-rating img,
.reference .reference-field .grid-sizer.reference-rating img,
.reference .reference-field .reference-rating.reference-rating img {
  max-width: 150px;
}
.reference .reference-field .reference-rank .reference-rank-title,
.reference .reference-field .grid-sizer .reference-rank-title,
.reference .reference-field .reference-rating .reference-rank-title {
  background: #1C1C1C;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px;
  color: #FFD081;
}
.nav-reference select {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #FFF;
  line-height: 1;
  border-radius: 3px;
  -webkit-appearance: none;
  padding: 12px 30px 12px 20px;
  height: 51px;
  top: 4px;
  font-size: 18px;
  position: relative;
  margin-left: 10px;
  width: 230px;
}
.nav-reference .reference-filter {
  background: rgba(255, 255, 255, 0.9);
  color: #3A89B9;
  font-style: italic;
  border: 1px solid #FFF;
  line-height: 1;
  border-radius: 3px;
  -webkit-appearance: none;
  padding: 12px 20px;
  height: 51px;
  top: 4px;
  font-size: 18px;
  position: relative;
  margin-left: 10px;
  width: 245px;
}
.nav-reference .select-arrow {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.3s ease-out background-color;
  transition: 0.3s ease-out background-color;
}
.nav-reference .select-arrow::before {
  bottom: 15px;
  position: absolute;
  right: 12px;
}
.nav-reference #filter-toggle {
  display: none;
}
.nav-reference .filters {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .nav-reference select,
  .nav-reference .reference-filter,
  .nav-reference .btn {
    height: 44px;
  }
  .nav-reference #filter-toggle {
    display: block;
    float: right;
  }
  .nav-reference .filters {
    display: none;
    margin-top: 10px;
  }
  .nav-reference .filters select,
  .nav-reference .filters .reference-filter,
  .nav-reference .filters .select-arrow {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }
}
#reference-detail .modal-dialog {
  margin-top: 150px;
}
#reference-detail .modal-content {
  background-color: #282828;
}
#reference-detail .modal-content .modal-close {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
}
#reference-detail .modal-content .modal-body .reference-detail-image {
  display: inline-block;
}
#reference-detail .modal-content .modal-body .reference-detail-meta {
  margin-top: 10px;
  text-align: left;
}
#reference-detail .modal-content .modal-body .reference-detail-meta span {
  margin-right: 20px;
}
#reference-detail .modal-content .modal-body h3 {
  margin-top: 4px;
  font-size: 30px;
}
#reference-detail .modal-content .modal-footer {
  background-color: #1C1C1C;
  border: 0;
  text-align: left;
  margin: 0;
}
#reference-detail .modal-content .modal-footer .reference-detail-meta {
  margin-top: 0px;
  text-align: left;
}
#reference-detail .modal-content .modal-footer .reference-detail-meta span {
  margin-right: 20px;
}
#reference-detail .modal-content .modal-footer h3 {
  margin-top: 10px;
  font-size: 30px;
}
#reference-detail .modal-content .modal-footer .reference-detail-description {
  margin-top: 20px;
  color: #c5c5c5;
}
body {
  background-color: black;
  width: 100%;
}
html {
  width: 100%;
}
.loader {
  position: fixed;
  display: none;
  width: 100px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #ffffff;
  }
  40% {
    stroke: #ffffff;
  }
  66% {
    stroke: #ffffff;
  }
  80%,
  90% {
    stroke: #ffffff;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #ffffff;
  }
  40% {
    stroke: #ffffff;
  }
  66% {
    stroke: #ffffff;
  }
  80%,
  90% {
    stroke: #ffffff;
  }
}
.switch {
  display: inline-block;
  height: 51px;
  position: relative;
  vertical-align: bottom;
  margin-left: 10px;
}
.switch .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch .cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.switch input.cmn-toggle-round-flat + label {
  width: 120px;
  height: 51px;
  -webkit-transition: 0.4s ease-out all;
  transition: 0.4s ease-out all;
  padding: 0 16px;
  font-weight: normal;
  font-size: 18px;
  line-height: 51px;
  padding-left: 37px;
}
.switch input.cmn-toggle-round-flat + label:before,
.switch input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.switch input.cmn-toggle-round-flat + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border: 1px solid white;
  border-radius: 3px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
.switch input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 25px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
.switch input.cmn-toggle-round-flat:checked + label {
  padding-left: 14px;
}
.switch input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 87px;
}
